# Ignore all files except Jupyter Notebooks
.ipynb_checkpoints/
Segmentation/.idea/
Segmentation/.ipynb_checkpoints/
Segmentation/pets/
Segmentation/oxford-iiit-pets-segmentation-using-pytorch-segnet-and-depth-wise-separable-convs.ipynb
Segmentation/types of convolutions.ipynb

Basic/Titanic/
Basic/.idea/

KagglePlayground/S4E2_MultiClassPredictionObesityRisk/.idea/
KagglePlayground/S4E2_MultiClassPredictionObesityRisk/playground-series-s4e2
KagglePlayground/S4E2_MultiClassPredictionObesityRisk/.ipynb_checkpoints/
KagglePlayground/S4E2_MultiClassPredictionObesityRisk/submission.csv
